html
{
    height: 100%;
}

body
{
    height  : 100%;
    margin  : 0;
    padding : 0;
}

#top_menu
{
}

#side_menu
{
    float    : left;
    width    : 150px;
    height   : 100%;
}

#map_canvas
{
    float  : left;
    height : 100%;
    width  : 100%;
}

